body
{
	margin-top: 0;
	width: 100%;
	padding: 0;
}

#section-v
{
	width: 100%;
	height: 100%;
	
	/*background-size: cover;*/
}

#pres
{
	width: 100%;
	height: 100%;
	margin: 0;
}


#pres img
{
	width: 99%;
	height: 100%;
}
