body {
	background: url(garret.jpg);
	/*margin-top: 150px !important;*/
	background-size: cover;
	height: 200px;
}

.big 
{
	height: 600px;
}

.register-left {
	color: #FFF;
	/*padding: 70px;*/
	text-align: center;
	float: left;
	margin-top: 150px;
	margin-left: -60px;


}

.register-left img {
	margin-top: 60px;
	margin-bottom: 18px;
	width: 80px;
	animation: mover 1s infinite alternate; 
}

.register-left p {
	padding: 10px -30px 0;
	font-size: 20px;
}

.register-left .btn-primary {
	color: #fff;
	width: 120px;
	background: transparent;
	font-weight: 600;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border: 2px solid #fff ;
	font-size: 16px;
}

.register-left .btn-primary:hover {
	background: #000;
	color: #fff;
}

.form-group input[type="submit"] {

	border: none;
	outline: none;
	height: 35px;
	background: #000;
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	width: 120px;
	margin-top: 20px;
	float: right;
}

.form-group input[type="submit"]:hover {

	color: #000;
	background: #fff;
	cursor: pointer;
}

.register-right {
	border: none;
	background: #f36;
	border-top-left-radius: 10% 50%;
	border-bottom-left-radius: 10% 50%;
	padding: 60px;
	margin-right: 10px;
	float: right;
	width: 400px;
	height: 450px;
	margin-top: -100px;
	transform: translate(30%, -50%);

}

.register-right h2 {
	color: #000;
	margin-bottom: 10px;
	text-align: center;
	margin-top: -30px;

}

.register-right p {
	font-weight: bold;
}

.form-group input[type="text"], input[type="email"], input[type="password"] {
	width: 350px;
	border-bottom: 1px solid #fff;
	background: #fff;
	outline: none;
	height: 30px;
	color: #000;
	font-size: 16px;
}

@keyframes mover{
	0%{transform: translateY(0);}
	0%{transform: translateY(-20px);}
}